body {
    background-image: url(imagenes/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bloques {
    display: flex;
    flex-direction: row;
}
.bloqueuno {
    border-radius: 5px 0 0 5px;
}
.bloquedos {
    border: 1px solid #bcbcbc;
    border-radius: 0 5px 5px 0;
}